
.sidebarWrapper {
    background: linear-gradient(to bottom, #9acd32, #29ab87);
    min-height: 100vh;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
    overflow-x: scroll;
}

.sidebarLink {
    color: white;
    display: flex; 
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-weight: bolder;
}

.sidebarLink:hover {
    cursor: pointer;
    box-shadow: 0 0 5px red;
}

.sidebarHeader {
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.sidebarEmployeeId {
    margin-left: 10px
}

.sidebarEmployeeName {
    margin-left: 10px
}

.sidebarSearch {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 0;
}

.sidebarSearch input {
    border-radius: 8px;
    border: 1px solid black;
    height: 22px;
    width: 85%;
    font-size: large;
    padding: 5px;
}

@media only screen and (min-width:200px) and (max-width: 800px) {
    .sidebarWrapper {
        width: 98%;
        max-width: 100%;
        min-height: 50vh;
    }
}