
.profileEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.profileEdit form {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px black;
    min-width: 30%;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.formElement {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.formElement > div {
    background-color: goldenrod;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
}

.formElement input {
    height: 30px;
    padding: 5px;
    font-size: medium;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: 1px solid rgb(181, 174, 174);
    border-left: none;
    width: 100%;
}

.formElement input:focus{
    border: 1px solid #29ab87;
    border-left: none;
}

.readOnly{
    color: red;
}

.submitButton {
    width: 50%;
    height: 35px;
    font-size: medium;
    border:none;
    box-shadow: 0 0 10px black;
    background-color: gold;
    margin-bottom: 40px;
}

.submitButton:hover {
    cursor:pointer;
    background-color: goldenrod;
}

.submitButton:active {
    transform: translateY(3px);
}